﻿@{
    ViewBag.Title = "Index";
}


<h1>Cashless Payment</h1>
<h2>Management</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Organisations</h3>
        <p>
            Manage organisations.
        </p>
        <p><a class="btn btn-primary" href="/Organisation/Index">Summary</a></p>
    </div>
    <div class="col-md-4">
        <h3>Registers</h3>
        <p>
            Manage registers.
        </p>
        <p><a class="btn btn-primary" href="/Register/Index">Summary</a></p>
    </div>
    <div class="col-md-4">
        <h3>Log</h3>
        <p>
            Manage logs.
        </p>
        <p><a class="btn btn-primary" href="/Log/Index">Summary</a></p>
    </div>
</div>
